.loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand {
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: gold;
  padding: 0 1vmin;
  font-size: 10vmin;
}
.brand p {
  width: 100%;
}
.brand b {
  color: red;
  display: inline-block;
  transform: scaleX(-1);
}
.brand span {
  padding-left: 3vmin;
}

.line {
  background: transparent;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-top: 2px solid red;
  color: gold;
  padding: 10px 20px;
  animation: grow 2s ease infinite;
}

@keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.word {
  position: absolute;
  font-size: 30px;
  white-space: nowrap;
  color: white;
  opacity: 0.4;
  z-index: -10;
}

.letter {
  position: absolute;
  font-size: 20px;
  white-space: nowrap;
  opacity: 0.4;
  z-index: -10;
  color: gold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App {
  height: 100vh;
  width: 100%;
}

.App-light {
  background: lightblue;
}

.App-dark {
  background-color: rgb(0, 0, 0);
}

header label {
  background: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.2);
  color: white;
  -webkit-backdrop-filter: blur(2.4px);
          backdrop-filter: blur(2.4px);
  bordeR: 1px solid white;
}
header textarea {
  background: transparent;
}
header textarea:focus {
  border: rgba(255, 255, 255, 0.5);
}
header textarea::-moz-placeholder {
  color: white;
}
header textarea::placeholder {
  color: white;
}
header .btn:hover {
  color: red;
}

main {
  -webkit-backdrop-filter: blur(2.4px);
          backdrop-filter: blur(2.4px);
}
main nav p {
  background: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.2);
  color: white;
  -webkit-backdrop-filter: blur(2.4px);
          backdrop-filter: blur(2.4px);
}

footer {
  background: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.2);
  color: white;
  -webkit-backdrop-filter: blur(2.4px);
          backdrop-filter: blur(2.4px);
}
footer b {
  color: gold;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  gap: 1%;
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
  width: 100%;
}
header label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 30%;
}
header textarea {
  resize: none;
  color: white;
  width: 90%;
  height: 50%;
  font-size: 0.8rem;
  padding: 0 20px;
  border-radius: 20px;
  border: 0;
  background: transparent;
  text-align: center;
  overflow-y: auto;
  scrollbar-width: none;
}
header textarea:focus {
  outline: 0;
  text-align: left;
}
header .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 10%;
  height: 100%;
  border-radius: 50%;
}
header .btn:hover {
  transform: translateX(-10%);
  font-size: 1.3rem;
}

main {
  height: 85%;
  width: 100%;
  -webkit-backdrop-filter: blur(2.4px);
          backdrop-filter: blur(2.4px);
}
main nav {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main nav p {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  width: 40%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: 4%;
  width: 100%;
  font-size: 2rem;
  padding: 1% 2%;
}
footer i {
  color: white;
  opacity: 0.5;
  font-size: 0.7rem;
}
footer p {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p a {
  padding-left: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: cente;
  justify-content: start;
  gap: 20px;
  height: 95%;
  width: 100%;
  padding: 5% 2%;
  overflow-y: auto;
  scrollbar-width: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
  color: white;
  min-height: 18vmax;
  width: 100%;
}

.cardsSA {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;
  height: 95%;
  width: 100%;
  padding: 5% 2%;
  overflow-y: auto;
  scrollbar-width: none;
}

.cols {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
  justify-content: start;
  overflow-y: auto;
  scrollbar-width: none;
}
.cols h1 {
  width: 100%;
  text-align: center;
  position: sticky;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.cols li {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 10px 0;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  height: 100%;
}
a:hover {
  color: red;
}

.active {
  color: red;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.welcome {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome p {
  font-size: 2.3rem;
  text-align: center;
  opacity: 0.6;
}

@media screen and (max-width: 1180px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    height: 4%;
    order: -1;
  }
  header label {
    width: 60%;
  }
  header .btn {
    border-radius: 50%;
  }
  main {
    height: 89%;
  }
  footer {
    height: 7%;
    order: -2;
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 1180px) {
  header {
    height: 5%;
    order: -1;
  }
  header label {
    width: 50%;
    border-radius: 1%;
  }
  header .btn {
    border-radius: 1%;
  }
  header main {
    height: 85%;
  }
  footer {
    height: 7%;
    order: 2;
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 880px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    height: 5%;
    order: 1;
  }
  header label {
    width: 100%;
    border-radius: 1%;
  }
  header .btn {
    border-radius: 1%;
  }
  main {
    height: 90%;
  }
  footer {
    height: 5%;
    order: 2;
    font-size: 3rem;
  }
}
@media screen and (max-width: 440px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    order: 3;
    height: 6%;
  }
  header label {
    width: 100%;
  }
  footer {
    order: -1;
    height: 7%;
    font-size: 10vmin;
  }
  main {
    height: 85%;
  }
  .cardsSA {
    flex-direction: column;
  }
  .cols {
    width: 100%;
    height: 47%;
  }
}
#root {
  height: 100vh;
  width: 100%;
}/*# sourceMappingURL=index.css.map */